# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEs
.idea/
.vscode/

# Dependencies
.bundle/
node_modules/

# Data & Media
/reel_videos/
/populate-output/
data/reels_db/**
*.mp3
*.mp4
data/reels.txt
!data/reels.txt.example
data/output/**
!data/output/data.json.example


# Logs
backend/logs/**
!backend/logs/app.log.example

# Environment
.env
instagrapi_settings.json

# Build artifacts
build/
dist/
*.egg-info/